.u-card{
    text-align: center;
    height: 200px;
    color: black;
    background-color:#000000e6;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}
.u-para{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 15px;
    color: grey;
}
.u-button{
    height: 35px;
    width: 150px;
    border-radius: 35px;
    border-width: opx;
    background-color: white;
    color: black;
    font-weight: bolder;
    margin-top: 10px;
}

.bg-image{
    background-image:url(https://img.freepik.com/free-photo/back-view-silver-sport-sedan-with-red-lights_114579-4050.jpg?w=360&t=st=1668436210~exp=1668436810~hmac=f038bff6e8fdf7d3ee15369f0f92953a52d1940e88e5a5fcfb11c72d911a436d);
    height: 100vh;
     width: 100vw;
     background-size: cover;
}








.title-image{
    background-image: url(https://img.freepik.com/free-photo/hotel-male-maldives-outdoor-blue_1203-5353.jpg?size=338&ext=jpg&ga=GA1.2.169499907.1667907311&semt=sph);
    height: 100vh;
    background-size: cover;
}

.title-heading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: #323f4b;
     padding-top: 20px;
     padding-left: 15px;
     padding-bottom: 8px;
}
.tilte-card-container{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius: 10px;
}

.more-pictures{
   
    padding-top:25px;
    padding-bottom: 5px;
    padding-left:25px ;
    padding-right: 25px;

}

.videos{

    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 28px;
    border-radius: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:25px ;
    padding-right: 25px;
}
   







.car-bg-container{
    background-image: url(https://img.freepik.com/free-vector/realistic-car-headlights-ad-composition-headlights-with-green-purple-illumination_1284-56577.jpg?w=1380&t=st=1668164821~exp=1668165421~hmac=d5d645e16815488476a3e4c78b05ecdeeeba15c63bc524b8b94c90aea5e9a2f0);
    height: 120vh;
    width: fit-content;
    background-size: cover;
}

.car-heading{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:grey ;
    font-size: xx-large;
    padding-left: 15px;
}

.car-card-conatiner{
    background-color: grey;
    border-radius: 25px;
    font-size: xx-small;
    padding: 15px;
    margin: 15px ;
    width: 550px;
    height: 210px;
    
}
.car-card-margin{
    margin-left: 10px;
}
.car-card-heading{
    font-size: x-large;
}
.car-card-para{
    font-size: large;
    width: 300px;
    padding-left:10px;
    

}
.car-card-image{
    width: 120px;
    height: 120px;
}



